*{
    padding:0;
    margin:0;
    box-sizing: border-box; 
}
.contenitore
{
    margin:auto;
    width:80%;
}
.img{
    display: inline-block;
    width: calc(90% / 3);
    position:relative
}
img{
    display: inline-block;
    width:100%;
}
.prezzo-2{
    text-decoration:line-through ;
    padding-left: 4px;
}
.prezzo-1{
    font-weight: bold;
    color: red;
}
.cuore{
    font-size: 35px;
    text-align: center;
    background-color: white;
    height: 40px;
    width: 40px;
    position:absolute;
    top:40px;
    right: 0;
}
.sconto, .sostenibile{
    color:white;
    padding:2px;
    background-color: red;
    position:absolute;
    bottom: 100px;
    left:10px;
}

    
.sostenibile{
        margin-left: 15%; 
       background-color: green;

}
 
.immagine-none{
    display: none;
}
.img:hover .immagine-none{
    display: block;

}
.img:hover .immagine-look{
    display:none;

}